<h1 class='page-header'>Thank you for coming to check out the Family Newsletter!</h1>

<h3 class='sub-header'>A little about us:</h3>
<p>The Family Newsletter is a tradition dating back to my grandmother.  When she first left home, she and all of her siblings would designate one person each month to collect letters from all of the siblings, then copy and compile the letters into a newsletter which was mailed back out to everyone.</p>
<p>On our site we want to foster the same sense of community, and you're in luck!  We have an invitation or two waiting for you.  If you are interested in joining any of the newsletters, please select the checkbox next to the name.</p>

<div class='form-div'>
  <form>
    <% @inviteInfo.each do |info| %>
        <div class='row'>
          <%= info.host %> invites you to join '<%= info.newsletter.title %>'
        </div>
        <div class='row'>
          <input
            type='checkbox'
            name='<%= info.newsletter.id %>'
            value='Yes' />
          <input
            type='checkbox'
            name='<%= info.newsletter.id %>'
            value='No' />
        </div>
    <% end  %>
    <div classname='row center'>
      <input
        type='submit'
        value='Join in!'
        class='general-button'/>
    </div>
  </form>
</div>
