$purple-navy: #3D5A80;
$light-purple: #c9d2fc;
$almost-white: #F0F7F4;

$robin-egg-blue: #99E1D9;
$robin-egg-green: #77BFA3;

$darker-robin: #1EA6A9;
$green-contrast: #BD24D9;

$jet: #222222;

$fun-purple: #BD24D9;
