@import 'colors';

.entries-form {
  margin-bottom: .5em;
  h3 {
    text-align: center;
  }
}

.entries-list {
  width: 80%;
  margin-top: 2em;
  margin: auto;
}

.entry-tile {
  background-color: white;
  border-radius: 5px;
  padding: 1em 2em;
  overflow: hidden;
  margin-top: 1em;
}

.author-info {
  float: right;
}

.row .edit-button {
  float: right;
  height: 9em;
  width: 9em;
}
