@import 'colors';

.invite-div {
  display: flex;
  margin: .4em;

  .accept-button {
    margin-right: 1em;
  }
}
.accept-label {
  font-size: 1.3em;
}
.invite-list-div {
  width: 80%;
}
.invite-page {
  display: flex;
  justify-content: center;
}
.invite-header {
  margin-bottom: 1.5em;
  padding-left: 2em;
}
.description-div {
  width: 80%;
  margin: auto;
  .sub-header {
    padding-left: 2em;
  }
}
.description-text {
  font-size: 1em;
}
.qr-code {
  padding: 1em;
}
.pop-up {
  margin: 1em;
}
.fb-share-button {
  margin: 1em auto 1em auto
}
