<p id='footer'>
  This app uses the Google Maps API and therefore adheres to Google's
  <a href='https://policies.google.com/terms?hl=en'>
    Terms of Service
  </a>
    and
  <a href='https://policies.google.com/privacy?hl=en&gl=us'>
    Privacy Policy
  </a>
</p>
